*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 50vh;
   

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    height: 20px;
    display: flex;
    flex-wrap: wrap
}

.box{
   border: 1px rgb(2, 2, 2) solid;
   width: 100px;
   height: 100px;
}